<html>
<head>
    <title>DeepBuzz Raspberry Pi Project </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>DeepBuzz Raspberry Pi Project </h1>

    <p>IP Address is: {{ ipaddress }}</p>
    <p>
        <a id=start_camera>
            <button class='btn btn-default' onclick="startCamera()">Start Camera</button>
        </a>
        <a id=stop_camera>
            <button class='btn btn-default' onclick="stopCamera()">Stop Camera</button>
        </a>
    </p>

    <form action="/" id="videoForm">
        <p>This module requires the number of times the video feed be sent</p>
        Count: <p id="message"></p><br/>
        <input type="number" name="count"><br/>
        <input type="submit" value="Start">
    </form>

    {# <h3>Video Feed</h3>#}
    {#<img src="{{ url_for('video_feed') }}">#}

    <h2>The date and time on the server is: {{ time }}</h2>
    <p> @2019 Developed by Jephthah Afolayan</p>
</body>
<script >
    function startCamera() {
        $.ajax({
        url: '/camera/start',
        type: 'POST',
        success: function (response) {
            console.log(response);
        },
        error: function (error) {
            console.log(error);
        }
    });
    }

    function stopCamera() {
        $.ajax({
            url: '/camera/stop',
            type: 'POST',
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    $("#videoForm").submit(function (event) {
        event.preventDefault();

        let count = $(this).find('input[name="count"]').val();
        startVideo(count)
    });

    function startVideo(count) {
        $.ajax({
            url: '/video/start',
            data: JSON.stringify({"count": count}, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            type: 'POST',
            success: function (responseData) {
                console.log(responseData);
                $("#message").text = "Video streaming started"
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</html>